name: Build and Release

on:
  push:
    branches: [ "main", "master" ]
    tags:
      - 'v*'
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: Restore NuGet packages
      run: nuget restore svc/rpc2socks.sln

    - name: Build C++ (ConRelease|x64)
      run: msbuild svc/prj/msvc/rpc2socks.vcxproj /p:Configuration=ConRelease /p:Platform=x64

    - name: Build C++ (ConRelease|Win32)
      run: msbuild svc/prj/msvc/rpc2socks.vcxproj /p:Configuration=ConRelease /p:Platform=Win32

    - name: Build C++ (SvcRelease|x64)
      run: msbuild svc/prj/msvc/rpc2socks.vcxproj /p:Configuration=SvcRelease /p:Platform=x64

    - name: Build C++ (SvcRelease|Win32)
      run: msbuild svc/prj/msvc/rpc2socks.vcxproj /p:Configuration=SvcRelease /p:Platform=Win32

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install Python build dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel build

    - name: Embed Binaries
      run: python tools/embedsrv.py

    - name: Build Python Package
      working-directory: cli
      run: python -m build

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: rpc2socks-dist
        path: cli/dist/*

    - name: Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/v')
      with:
        files: cli/dist/*
        generate_release_notes: true
